<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-6"</div>
    <%= form_for(tasklists) do |f| %>
      <% if tasklists.errors.any? %>
        <div class="alert alert-warning">
          <ul>
            <% tasklists.errors.full_messages.each do |tasks| %>
              <li><%= tasklists %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :content, 'タスク' %>
        <%= f.text_field :content,class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :status, 'ステータス' %>
        <%= f.text_field :status, class: 'form-control' %>
      </div>
      <%= f.submit '追加', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>